<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>All Your Favorite Movies Reviewed!</h1>
    <p>A one stop place for all movie reviews. Post and upload your personal opinion and stand a chance to win prices.</p>
    <p><%= link_to "Sign Up Now To Write Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>

